<!-- <div class="board">
    <div *ngFor="let cell of board; let i = index" (click)="makeMove(i)" class="cell">
      {{ cell }}
    </div>
  </div> -->
<div class="message">
  <p *ngIf="waitingForOtherPlayers">Waiting for other player to join</p>
</div>
<div class="message">
  <p *ngIf="spectator" [textContent]="displayPlayerName()"></p>
</div>
<div *ngIf="!winner" class="message">
  <p>Current Turn: {{ currentPlayer }}</p>
</div>
<div *ngIf="gameOver" class="game-over">
  <p *ngIf="winner !== 'Draw'">Winner: {{ winner }}</p>
  <p *ngIf="winner === 'Draw'">It's a Draw!</p>
  <button (click)="resetGame()">Reset</button>
</div>
<canvas #renderCanvas style="width: 100%; height: 100%"></canvas>
